.carrusel-container {
  padding: 20px;
  background-color: #111;
  color: #fff;
  max-width: 100%;
}

.card-carrusel {
  padding: 0 10px;
  text-align: center;
}

.card-carrusel img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-carrusel p {
  margin-top: 8px;
  font-size: 0.9rem;
}


.general-movies-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 100px;
}

.movie-card {
  width: 300px;
  height: 450px;
  perspective: 1000px;
  margin: 1rem;
}

.movie-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.movie-card:hover .movie-card-inner {
  transform: rotateY(180deg);
}

.movie-card-front,
.movie-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}

.movie-card-front img {
  width: 100%;
  height: 100%;
}

.movie-card-back {
 background-color: #1e1e1e;
    color: #f0f0f0;
  transform: rotateY(180deg);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.num-vote{
    font-weight: bold;
    margin-top:30px;
    display: flex;
    justify-content: end;
    font-size: 40px;
    margin-left: 30px;
    margin-right: 5px;
}



.button{
    background-color: #d08832;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin: 0;
}

.buttons-container{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

@media (max-width: 1629px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;
  }
  .buttons-icons {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
}

a{
    height: 44px;
}

.movie-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}