.botones-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
    margin-right: 50px;
}

.botones-container button {
   margin: 0px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #d08832;
  font-weight: 900;
    font-size: 65px;
}

.btn-logout-container button{
  background-color: #d08832;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 60px;
}

.btn-logout-container button:hover {
  background-color: darken(#d08832, 10%);
}