
.card-perfil-content{
    padding: 20px;
}

.card-perfil-content h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.card-perfil-content p {
    font-size: 16px;
    color: #666;
}


/* Tamaño de cada tarjeta: 50% menos márgenes */
.card-perfil-container {
  flex: 0 1 calc(50% - 16px);
  max-width: calc(50% - 16px);

  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Imágenes más pequeñas */
.card-perfil-container img {
  width: 300px; /* Ajusta a tu gusto: 100–150px funciona bien */
  height: auto;
  object-fit: cover;
}

.card-perfil-delete-button {
    color: black;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}




@media (max-width: 1200px) {
    .card-perfil-container {
        flex-direction: column!important;
        width: 100%;
    }

    .card-perfil-container img{
        width: 100%!important;
    }

}