.card-perfil-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;
    background-color: white;
}

.card-perfil-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-perfil-content h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.card-perfil-content p {
    font-size: 16px;
    color: #666;
}


/* Tamaño de cada tarjeta: 50% menos márgenes */
.card-perfil-container {
  flex: 0 1 calc(50% - 16px);
  max-width: calc(50% - 16px);

  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Imágenes más pequeñas */
.card-perfil-container img {
  width: 300px; /* Ajusta a tu gusto: 100–150px funciona bien */
  height: auto;
  object-fit: cover;
}

.card-perfil-delete-button {
    color: black;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}
