.buttons-generos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  width: 80%;
  text-align: center;
  justify-content: center;
}


.buttons-generos-container button {
  padding: 10px 20px;
  background-color: #c47b22;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 140px;
}

.active {
  background-color: #c7a883 !important;
  color: black;
}

.buscador-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.buscador-form h3{
  color: white;
}

.genero-select-container {
  display: none;
  text-align: center;
  margin: 20px auto;
}

.genero-select-container select {
  background-color: #c47b22;         
  color: black;                      
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  appearance: none;
}


.genero-select-container select:invalid {
  color: #ffffffaa;
}


@media (max-width: 375px) {
  .buttons-generos-container {
    display: none;
  }

  .genero-select-container {
    display: block;
  }
}
