.buttons-generos-container {
  display: grid;
  /*Poner grid de 6 en 6*/
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  width: 60%;
  text-align: center;
}

.buttons-generos-container button {
  background-color: #d08832;
  color: black;
}

.active {
  background-color: #c7a883 !important;
  color: black;
}