header{
    display: flex;
    background-color: #1e003e;
}

.header-links {
    display: flex;
    gap: 100px;
    margin-top: 10px;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}