.registro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 500px;
  height: 500px;
    margin: 0 auto;
    border-radius: 10px;
}
form {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.login-container h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #d08832;
  font-weight: 900;
    font-size: 65px;
}

.button-container {
  text-align: start;
}