/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #0D0D0D;
  color: #333;
  line-height: 1.6;
}

/* Encabezado */
header {
  background: linear-gradient(to bottom, #0D0D0D, #1C1C1C);
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Contenido principal */
main {
  padding: 2rem;
}

/* Pie de página */
footer {
  background-color: linear-gradient(to bottom, #0D0D0D, #1C1C1C);
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Enlaces */
a {
  color: #0a9396;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Clases de utilidad */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

button {
  background-color: #d08832;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin: 30px 30px;
}


h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #d08832;
  font-weight: 900;
    font-size: 65px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #d08832;
  font-weight: 700;
  font-size: 55px;
}